body{
    background-image: url('contact.jpg');
}
.header {
    background-color: transparent;
    padding: 0px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}
.top-nav {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: transparent;
    border-radius: 10px;
    display:inline-block;
    width: auto;
    margin-top: 0px;
}
.top-nav div ul li{
    display: inline-block;
    position: relative;
    padding-left: 0px;
    margin: auto;
}
header h1{
    size:30%;
}
.formbox{
    margin-left: 30%;
    margin-top: 5%;
    background-color:transparent;
    width: 50%;
    padding-left: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.formbox form input{
    background : none;
    border: none;
    height: 25px;
}
section form {
    padding-left: 60px;
}
#namebox, #emailbox, #phonebox{
    border-bottom: 2px solid white;
    margin-left: 50px;
    position: relative ;
}
#textbox{
    margin-left: 50px;
    border-radius: 10px;
}
#submitbtn {
    width: 60%;
    height: 45px;
    border-radius: 10px;
    margin-left: 0.5%;
    margin-top: 5%;
    background-color:rgb(26, 26, 26);
    color: whitesmoke;
    font-size: 20px;
}
.info {
    margin-top: -500px;
    margin-left: 20px;
    padding: 30px;
    color: white;
}
.bold{
    margin-left: 40px;
    font-size: 40px;
}
.info-detail {
    font-size: 18px;
    text-indent: 10px;
}
.address {
    margin-top: -400px;
    color: white;
    text-align: left;
    margin-left: 75%;
}
.address-detail{
    margin-left: 40px;
    font-size: 40px;
}
.address address{
    font-size: 20px;
}
.socialmedia{
    margin-left: 85%;
    margin-top: 2%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li a {
    font-size: 25px;
    justify-content: center;
    text-align: center;
    padding-left: 120px;
    padding-right: 120px;
    font-family: 'Times New Roman', Times, serif;
}
li a:hover{
    background-color: brown;
    border-radius: 15px;
}
a:link, a:visited {
    color: white;
    text-decoration:none;
}